{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span12">
        <section>
                
            <h1>Lista de Eventos</h1>

            <div class="row-fluid">
                <div class="pull-right">
                    Filtro:
                    <a class="btn" href="/?type=nome">Ordenar por nome</a>
                    <a class="btn" href="/?type=data">Ordenar por data</a>
                </div>
            </div>

            <hr>
                
            <div class="row-fluid">
                {% for evento in eventos %}
                <article class="span4 thumbnail">
                    <a href="/evento/{{ evento.id }}">
                        <header>
                            <h2>{{ evento.nome }}</h2>
                        </header>

                        {% if evento.imagem %}
                        <img src="{{ MEDIA_URL }}{{ evento.imagem }}" alt="{{ evento.nome }}" />
                        {% endif %}
                    </a>

                    <dl class="dl-horizontal">
                        <dt>Data <i class="icon-calendar"></i></dt>
                        <dd>{{ evento.data|date:"d/m/y"}}</dd>
                        <!-- <dt>Local <i class="icon-map-marker"></i></dt>
                        <dd>Belo Horizonte</dd> -->
                        <dt>Descrição <i class="icon-info-sign"></i></dt>
                        <dd>{{ evento.descricao }}</dd>
                    </dl>
                    
                    <a href="/evento/{{ evento.id }}">
                        <span class="btn pull-right btn-primary"><i class="icon-plus icon-white"></i> Veja mais detalhe</span>
                    </a>

                    </a>
                </article>
                {% endfor %}
            </div>
                
        </section>
    </div>
</div>
{% endblock %}